@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kdam+Thmor&display=swap');

body{
    font-family: 'Itim', cursive;
    font-family: 'Kdam Thmor', cursive;
    margin: 0px;
    padding: 0px;
}

/* barra de navigation */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: aliceblue;
    position: sticky;
    top: 0;
}

nav h1{
    font-size: 20px;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    background-color: #f2f2f2;
}

/* fin de la barre des taches */


/* Debut du titre */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    font-size: 50px;
    text-align: center;
}

header button{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
/* Fin du titre */